<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
                <h1>Plugin Terra Basic</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="assets/images/logo_plenty_long.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h2>{{ 'startNow' | translate:lang }}</h2>
            <br>
            <div class="center">
                <terra-button [inputCaption]="'startHere' | translate:lang"
                              (outputClicked)="redirectToDevelopersTutorial()">
                </terra-button>
            </div>
        </div>
    </div>
</div>
