/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@plentymarkets/terra-components/styles/styles";
@import "~@plentymarkets/terra-components/styles/icons";
@import "~@plentymarkets/terra-components/styles/themes/theme-loader";

// Fonts
@font-face
{
    font-family: 'plentyicons';
    src: url('~@plentymarkets/terra-components/assets/fonts/plentyicons.eot?z8douy');
    src: url('~@plentymarkets/terra-components/assets/fonts/plentyicons.eot?z8douy#iefix') format('embedded-opentype'),
    url('~@plentymarkets/terra-components/assets/fonts/plentyicons.ttf?z8douy') format('truetype'),
    url('~@plentymarkets/terra-components/assets/fonts/plentyicons.woff?z8douy') format('woff'),
    url('~@plentymarkets/terra-components/assets/fonts/plentyicons.svg?z8douy#plentyicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"]
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'plentyicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// global component styles
